html, body {height:100%;margin: 0;}

.Intro-Logo {
  width: 30%;
  height: auto;
  position: absolute;
  top: 34px;
}

button {
  width: 100%;
  font:1.5em "Times New Roman", sans-serif;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.78);
  border-radius: 50px;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
}

button:hover {
  background-color: #101011;
}

.Button {
  width: 309px;
  height: 98px;
  position: absolute;
  top: 920px;
  overflow: hidden;
}

.Button-Rectangle {
  background: linear-gradient(
    180deg,
    rgba(255, 175, 55, 1) 1.5625%,
    rgba(157, 103, 22, 1) 50%,
    rgba(65, 59, 3, 1) 100%
  );
  border-radius: 40px;
  width: 303px;
  height: 98px;
  position: absolute;
  top: -1px;
}
.Button-Text {
  color: #000000;
  text-align: center;
  font: 2em "Times New Roman", sans-serif;
  position: absolute;
  left: 70px;
  top: 30px;
}
.questionText {
  margin: auto;
  padding: 10px;
  width: 90%;
}

.Text-Background {
  background: rgba(0, 0, 0, 0.78);
  border-radius: 50px;
  width: 989px;
  height: 30%;
  position: absolute;
  top: 600px;
  overflow: hidden;
}
.text {
  color: #dadada;
  text-align: center;
  font: 1.2em "Slabo 27px";
  padding-top: 7%;
  padding-left: 0%;
  padding-bottom: 5%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.Question-Background {
  background: rgba(0, 0, 0, 0.78);
  border-radius: 50px;
  width: 1163px;
  height: 203px;
  position: absolute;
  left: 631px;
  top: 180px;
}

.Quiz-Logo {
  width: 548px;
  height: 597px;
  position: absolute;
  left: 48px;
  top: 374px;
}

.Question-1 {
  width: 515px;
  height: 345px;
  position: absolute;
  left: 631px;
  top: 442px;
  overflow: hidden;
}

.Question-2 {
  width: 515px;
  height: 345px;
  position: absolute;
  left: 1279px;
  top: 442px;
  overflow: hidden;
}

.Question-3 {
  width: 509px;
  height: 343px;
  position: absolute;
  left: 631px;
  top: 837px;
  overflow: hidden;
}

.Question-4 {
  width: 515px;
  height: 345px;
  position: absolute;
  left: 1279px;
  top: 837px;
  overflow: hidden;
}

.centered-div {
  background-image: url("../public/FONDO.png");
  background-position: 'center';
  background-size: cover;
  background-repeat: 'no-repeat';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

}