.Intro-Logo {
  width: 401px;
  height: 537px;
  position: absolute;
  left: 460px;
  top: 34px;
}

button {
  width: 100%;
  font:600 17px "Times New Roman", sans-serif;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.78);
  border-radius: 50px;
  width: 515px;
  height: 245px;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
}

button:hover {
  background-color: #101011;
}

.Button {
  width: 309px;
  height: 98px;
  position: absolute;
  left: 510px;
  top: 920px;
  overflow: hidden;
}
.Button-Rectangle {
  background: linear-gradient(
    180deg,
    rgba(255, 175, 55, 1) 1.5625%,
    rgba(157, 103, 22, 1) 50%,
    rgba(65, 59, 3, 1) 100%
  );
  border-radius: 40px;
  width: 303px;
  height: 98px;
  position: absolute;
  left: 6px;
  top: -1px;
}
.Button-Text {
  color: #000000;
  text-align: center;
  font: 600 25px "Times New Roman", sans-serif;
  position: absolute;
  left: 85px;
  top: 30px;
}
.Text-Box {
  width: 1290px;
  height: 305px;
  position: absolute;
  left: 200px;
  top: 558px;
  overflow: hidden;
}
.Text-Background {
  background: rgba(0, 0, 0, 0.78);
  border-radius: 50px;
  width: 989px;
  height: 300px;
  position: absolute;
  left: 1px;
  top: 5px;
}
.Text {
  color: #ffffff;
  text-align: center;
  font: 400 20px "Times New Roman", sans-serif;
  position: absolute;
  left: calc(50% - 480px);
  top: 30px;
  width: 944px;
  height: 255px;
}

.Question-Background {
  background: rgba(0, 0, 0, 0.78);
  border-radius: 50px;
  width: 1163px;
  height: 203px;
  position: absolute;
  left: 631px;
  top: 180px;
}

.Question-Text {
  color: #ffffff;
  text-align: center;
  font: 400 20px "Times New Roman", sans-serif;
  position: absolute;
  left: calc(50% - 577px);
  top: 72px;
  width: 1091px;
  height: 108px;
}

.Quiz-Logo {
  width: 548px;
  height: 597px;
  position: absolute;
  left: 48px;
  top: 374px;
}

.Question-1 {
  width: 515px;
  height: 245px;
  position: absolute;
  left: 631px;
  top: 442px;
  overflow: hidden;
}

.Question-2 {
  width: 515px;
  height: 245px;
  position: absolute;
  left: 1279px;
  top: 442px;
  overflow: hidden;
}

.Question-3 {
  width: 509px;
  height: 243px;
  position: absolute;
  left: 631px;
  top: 737px;
  overflow: hidden;
}

.Question-4 {
  width: 515px;
  height: 245px;
  position: absolute;
  left: 1279px;
  top: 736px;
  overflow: hidden;
}